.game-jackpot {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 3px;
    right: 0px;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    background-color: #424242;
    padding: 10px;

    .icon {
        background-color: #43a047;
        padding: 3px 6px;
        margin-right: 8px;
    }
}