.view-mode {
    display: flex;
    align-items: center;

    span {
        margin-left: 15px;
        cursor: pointer;
        color: #bdbdbd;
        
        &:hover, &.active {
            color: #ff8a65;
        }
    }
}