.view-mode {
    display: flex;
    align-items: center;

    span {
        margin-left: 15px;
        cursor: pointer;
        
        i {
            color: #bdbdbd;

            &:hover {
                color: #ff8a65;
            }
        }
    }
}