@import '../../../../scss/colors';

.view-mode {
    display: flex;
    align-items: center;

    button {
        border: none;
        background-color: transparent;
        margin-left: 15px;
        color: $font-color;
        cursor: pointer;
        
        &:hover, &.active {
            color: $link-active;
        }
    }
}