@import '../../../../scss/colors';

.input-search {
    display: flex;
    align-items: center;
    background: $light-gray;
    border: 1px solid $font-color;
    color: $font-color;
    
    i {
        font-size: 10px;
        display: block;
        margin: 0 5px;
    }

    input {
        height: 30px;
        background-color: transparent;
        border-width: 0px;
        padding-left: 5px;

        &:focus {
            outline: none;
        }
    }
}