@import '../../scss/colors';

.header {
    display: block;
    padding: 15px 0;
    margin-bottom: 40px;
    background-color: $white;

    .header-content {
        display: flex;
        align-items: center;
        width: 70%;
        margin: 0 auto;
    }
}