.game-card {
    position: relative;
    width: 100%;
    background: #ffffff;
    color: #bdbdbd;

    .game-image {
        position: relative;
        
        img {
            max-width: 100%;
        }
    }

    .game-info {
        padding: 10px;
    }
}