@import '../../../../scss/colors';

.game-card {
    position: relative;
    width: 100%;
    background: $white;

    .game-image {
        position: relative;
        
        img {
            max-width: 100%;
        }
    }

    .game-info {
        padding: 10px;
        font-weight: bold;
    }

    .game-card-tag {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1;
    }
}