.app {
    .main {
        display: flex;
        width: 70%;
        margin: 0 auto;

        .games-menu {
            width: 20%;
        }

        .games-section {
            width: 80%;
        }
    }
}