@import './scss/colors';

.app {
    color: $font-color;
    margin-bottom: 40px;

    .main {
        display: flex;
        width: 70%;
        margin: 0 auto;

        .games-menu {
            width: 20%;
        }

        .games-section {
            width: 80%;
        }
    }
}