// General colors
$light-gray: #f5f5f5;
$dark-gray: #424242;
$white: #ffffff;
$yellow: #fdd835;
$red: #e53935;
$blue: #1565c0;
$green: #43a047;


// Font colors
$font-color: #bdbdbd;
$link-active: #ff8a65;