@import '../../../../scss/colors';

.game-tag {
    padding: 5px;
    font-size: 12px;
    color: $white;
    font-weight: bold;

    &.new {
        background-color: $yellow;
        color: $dark-gray;
    }

    &.hot {
        background-color: $red;
    }

    &.live {
        background-color: $blue;
    }
}